$min-width: 800px;

.tournament-bracket-container {
    padding: 15px;
    min-width: $min-width;

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 2px;
    }

    th {
        font-size: 13px;
        padding: 10px 0;
        width: 10%;
        font-weight: normal;
        color: #777;
        text-align:center;
    }
}

.round {
    padding: 10px 5px;
    box-shadow: 0 -3px 0 rgb(8, 100, 174);
}

.round-8 > .tournament-round-container > .tournament-game {
    padding: 50px 0;
}

.round-8 .segment {
    height: 80px;
}

.round-4 > .tournament-round-container > .tournament-game {
    padding: 80px 0;
}

.round-4 .segment {
    height: 145px;
}

/*.round-2 > .tournament-round-container > .tournament-game {
    padding: 80px 0;
}

.round-2 .segment {
    height: 145px;
}*/

.game {
    position:relative;
}

.game:after {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background-color: #fff;
    top: 50%;
    right: -13px;
}

.reversed .game:after {
    right: auto;
    left: -13px;
}

.game .segment {
    border-right: solid 2px #fff;
}

.game .segment > span {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    background: #fff;
    font-size: 13px;
    z-index: 1;
    height: 30px;
    line-height: 29px;
    padding: 0 2px;
    cursor: default;
}

.game .top, .game .bottom {
    position: relative;
    width: 100%;
}

.game .top span {
    top: 0;
    padding-left:5px;
}

.game .bottom span {
    bottom: 0;
    padding-left:5px;
}

.reversed .game .top span {
    top: 0;
    padding-right:5px;
}

.reversed .game .bottom span {
    bottom: 0;
    padding-right:5px;
}

.reversed .game .segment {
    border-left: solid 2px #fff;
    border-right: 0;
}

.segment > span a {
    float: left;
    display: inline;
    padding: 0 3px;
    border-radius: 2px;
    height: 26px;
    line-height: 25px;
    margin-top: 2px;
}

.reversed .segment>span a,
.reversed .segment>span img {
    float: right;
}

.game .segment > span strong {
    float: right;
    color: rgb(8, 100, 174);
    font-size: 13px;
    padding: 0 4px;
}

.reversed .game .segment > span strong {
    float: left;
}

.game .segment > span.winner {
    background-color:rgb(8, 100, 174);
}

.game .segment > span a {
    color:#000;
    text-decoration:none;
}

.game .segment > span a:hover {
    text-decoration:underline;
}

.game .segment > span.winner a {
    color:#fff;
}

.game .segment > span.winner > strong {
    color:#fff;
}

img {
    width:24px;
    height:24px;
}
